<div class="sticky top-0 h-16 border-b bg-white lg:py-2.5 shadow-md">
  <!-- hamburger menu -->
  <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
    <button class="w-12 h-16 -mr-2 border-r lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 my-auto"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
    <!-- hamburger-end -->

    <!--search bar -->
    <div class="flex space-x-4 w-full justify-between">
      <div hidden class="md:block w-5/6">
        <div
          class="relative flex items-center text-gray-400 focus-within:text-cyan-400"
        >
          <span
            class="absolute left-4 h-6 flex items-center pr-3 border-r border-gray-300"
          >
            <svg
              xmlns="http://ww50w3.org/2000/svg"
              class="w-4 fill-current"
              viewBox="0 0 35.997 36.004"
            >
              <path
                id="Icon_awesome-search"
                data-name="search"
                d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
              ></path>
            </svg>
          </span>
          <input
            type="search"
            name="leadingIcon"
            id="leadingIcon"
            placeholder="Search here"
            class="w-full pl-14 pr-4 py-2.5 rounded-xl text-sm text-gray-600 outline-none border border-gray-300 focus:border-cyan-300 transition"
          />
        </div>
      </div>
      <!--/search-bar-end -->

      <button
        aria-label="search"
        class="w-10 h-10 rounded-xl border bg-gray-100 focus:bg-gray-100 active:bg-gray-200 md:hidden"
      >
        <svg
          xmlns="http://ww50w3.org/2000/svg"
          class="w-4 mx-auto fill-current text-gray-600"
          viewBox="0 0 35.997 36.004"
        >
          <path
            id="Icon_awesome-search"
            data-name="search"
            d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
          ></path>
        </svg>
      </button>

      <div class="flex flex-col items-end justify-between md:order-2">
        <button
          type="button"
          class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom"
          (click)="toggleShow()"
        >
          <span class="sr-only">Open user menu</span>
          <img
            class="w-8 h-8 rounded-full object-cover"
            src="https://images.pexels.com/photos/9287901/pexels-photo-9287901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="user photo"
          />
        </button>

        <!-- Dropdown menu -->
        <div
          class="z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
          [hidden]="!show"
          id="user-dropdown"
        >
          <div class="py-3 px-4">
            <span class="block text-sm text-gray-900 dark:text-white">{{
              firstName
            }}</span>
            <span
              class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400"
              >{{ username }}</span
            >
          </div>
          <ul class="py-1" aria-labelledby="user-menu-button">
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Settings</a
              >
            </li>

            <li>
              <a
                (click)="logout()"
                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
