<div class="px-6 pt-6 2xl:container">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl py-7">My History</h1>
    <div>
      <select
        id="courses"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option selected="">CourseA</option>
        <option selected="">CourseA</option>
        <option selected="">CourseA</option>
        <option selected="">CourseA</option>
      </select>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center">
            <thead class="border-b">
              <tr>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Student
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Classwork 1
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Classwork 2
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Assignment
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Exam Results
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b">
                <td
                  class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
                >
                  Drizzy
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Missing
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Missing
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Turned in late
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Pass same way
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
