<div class="relative w-[720px]">
  <table
    class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mx-auto"
  >
    <caption
      class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800"
    >
      User's > Submitted Files
    </caption>

    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Dummy text
        </th>

        <td class="py-4 px-6 text-right flex gap-6 justify-end">
          <a
            href="#"
            class="font-medium dark:text-blue-500 hover:underline bg-[#01A1B9] text-white px-4 py-2"
            >View</a
          >

          <a
            href="#"
            class="font-medium dark:text-blue-500 hover:underline bg-[#DE3F44] text-white px-4 py-2"
          >
            Remove</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
