<div class="px-6 pt-6 2xl:container">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl py-7">Class List</h1>
    <div>
      <input
        type="search"
        name="leadingIcon"
        id="leadingIcon"
        placeholder="Search here"
        class="w-full pl-5 pr-4 py-2.5 rounded-md text-sm text-gray-600 outline-none border border-gray-300 focus:border-cyan-300 transition"
      />
    </div>
  </div>

  <select
    id="courses"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-min p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <option selected="">Weekly</option>
    <option selected="">Weekly</option>
    <option selected="">Weekly</option>
    <option selected="">Weekly</option>
  </select>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center">
            <thead class="border-b">
              <tr>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Student Name/Course
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Tutor/Subject
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Start Time
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  End Time
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4"
                >
                  Exam Results
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b">
                <td
                  class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
                >
                  Drizzy
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Solomon Grundy
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Conventional
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Basically Noon
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  Technically Pass
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
