<div class="relative w-full">
  <div class="px-32 rounded-lg text-center" mat-dialog-content>
    <form action="" class="grid grid-rows-3 gap-2 items-center">
      <input
        class="w-full text-sm hidden text-gray-900 cursor-pointer"
        id="multiple_files"
        type="file"
        multiple=""
      />
      <label class="border mt-4 px-16 py-5 rounded-lg" for="multiple_files"
        >Attach Files</label
      >
      <p>No Files Added</p>
      <button
        class="border px-6 py-2 rounded-lg mx-auto bg-gray-300"
        mat-dialog-close
      >
        Upload
      </button>
    </form>
  </div>
</div>
